interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer xoxb-8245677746372-8236633617046-3C5jfKce2y3YyffJf4KhEhfL
      Content-type:
      - application/json
    method: GET
    uri: https://slack.com/api/conversations.list
  response:
    body:
      string: '{"ok":true,"channels":[{"id":"C086YFZ9DDL","name":"all-shilpa","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1735880201,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"all-shilpa","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T0877KXMYAY","updated":1735880230018,"parent_conversation":null,"creator":"U087TURK6L8","is_ext_shared":false,"shared_team_ids":["T0877KXMYAY"],"pending_connected_team_ids":[],"is_member":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"Share
        announcements and updates about company news, upcoming events or teammates
        who deserve some kudos. \u2b50","creator":"U087TURK6L8","last_set":1735880201},"properties":{"canvas":{"file_id":"F086YFZAKSA","is_empty":false,"quip_thread_id":"DOF9AA4MjtB"},"use_case":"welcome"},"previous_names":["all-slack"],"num_members":4},{"id":"C086YG1SQT0","name":"ktonpython","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1735880293,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"ktonpython","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T0877KXMYAY","updated":1735880294610,"parent_conversation":null,"creator":"U087TURK6L8","is_ext_shared":false,"shared_team_ids":["T0877KXMYAY"],"pending_connect[...]
