interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer xoxb-8245677746372-8236633617046-3C5jfKce2y3YyffJf4KhEhfL
      Content-type:
      - application/json
    method: GET
    uri: https://slack.com/api/users.list
  response:
    body:
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"T0877KXMYAY","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Standard Time","tz_offset":-28800,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":{},"status_text":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"T0877KXMYAY"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0,"is_email_confirmed":false,"who_can_share_contact_card":"EVERYONE"},{"id":"U086YJMJ51C","team_id":"T0877KXMYAY","name":"powerful_app","deleted":false,"color":"a63024","real_name":"Powerful
        app","tz":"America\/Los_Angeles","tz_label":"Pacific Standard Time","tz_offset":-28800,"profile":{"title":"","phone":"","skype":"","real_name":"Powerful
        app","real_name_normalized":"Powerful app","display_name":"","display_name_normalized":"","fields":null,"status_text":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"avatar_hash":"g58d49751323","api_app_id":"A08754K96CT","always_active":true,"bot_id":"B08754T8TD1","first_name":"Powerful","last_name":"app","image_24":"https:\/\/secure.gravatar.com\/avatar\/58d497513237d9f584751f980e634c0d.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/58d497513237d9f584751f980e634c0d.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/58d497513237d9f584751f980e634c0d.jpg?s=48&d=https%3A%2F[...]
